{% extends 'layout.html' %}

{% block title %} Python {% endblock %}

{% block content %}

    <h1 class="mt-80">¿Por qué realizar un CRUD?</h1>
    <p>
        Es una buena practica para poner a prueba los conocimientos que se van adquiriendo acerca de una o varias tecnologias, la teoria nos brinda un 30% de conocimiento y el 70% se obtiene practicando. Un CRUD requiere utilizar las 4 sentencias DML más usadas en consultas sql de forma indirecta por medio de una interfaz grafica (GUI) o front-end (Cliente) y un lenguaje de programación por detras que se encarga de la actividad del usuario.
    </p>

{% endblock %}