{% extends 'layout.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}

    <h1 class="mt-80">¿Qué es un CRUD?</h1>
    <p>
        En programación se le conoce como "CRUD" a la interacción con una base de datos a través de peticiones HTTP realizadas por un lenguaje de programación para insertar, modificar, leer y eliminar datos de un registro. La base datos puede ser relacional (SQL) y no relacional (NoSQL) ambas poseen objetivos diferentes pero tienen la misma meta recibir, almacenar y enviar datos. 
    </p>
    <p>
        Una base datos sql gestiona los datos por medio de tablas que se van relacionando, las consultas se realizan con el lenguaje SQL y una base datos NoSql esta basada en tecnologia JavaScript por lo que los datos se almacenan en documentos que tienen la estructura de un archivo JSON o de un arreglo asociativo, las consultas se realizan por comandos y objetivos. En la actualidad las bases de datos poseen una interfaz grafica que facilita la manipulación de los datos.
    </p>

    <h2 class="text-center mt-5">Significado de las siglas CRUD</h2>
    <div class="m-5 w-50 mx-auto">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Siglas</th>
                <th scope="col">Significado</th>
                <th scope="col">Sentencia SQL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">C</th>
                <td>Create (Insertar)</td>
                <td>INSERT</td>
              </tr>
              <tr>
                <th scope="row">R</th>
                <td>Read (Leer)</td>
                <td>SELECT</td>
              </tr>
              <tr>
                <th scope="row">U</th>
                <td>Update (Actualizar)</td>
                <td>UPDATE</td>
              </tr>
              <tr>
                <th scope="row">D</th>
                <td>Delete (Eliminar)</td>
                <td>DELETE</td>
              </tr>
            </tbody>
          </table>
    </div>

{% endblock %}